.ImgResponsive.cover {
    -o-object-fit: cover;
    object-fit: scale-down !important;
    font-family: "object-fit: cover;"  !important ;
}

.headline {
    color: gray !important;
    text-align: center !important;
}
